 body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
 }
 * {
     margin: 5px 5px 5px 5px;
     text-align: center;
     transition: .5s;
 }
 h1 {
    background: #ebebeb;
    width: 960px;
    text-align: center;
    text-align: center;
    height: 70px;
    padding-top: 25px;
    float: left;
 }
 nav {
    background: #ebebeb;
    height: 60px;
    width: 960px;
    padding-top: 35px;
    margin-bottom: 8px;
    float: left;
 }
 section {
    width: 550px;
    height: 260px;
    background: #ebebeb;
    float: left;
    text-align: center;
    padding-top: 40px;
 }
 article {
    position: relative; 
    color: #ebebeb;
    background: #777;
    clear: both;
    height: 82%;  
    line-height: 50px;
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
}
 h4 {
     color: #777;
     background: #ebebeb;
     clear: both;
     height: 30%;
     line-height: 60px;
     margin: 8px 18px 8px 18px;
     z-index: 1;
 }
 p {
    color: #777;
    background: #ebebeb;
    clear: both;
    height: 30%;
    line-height: 60px;
    margin: 8px 18px 8px 18px;
    z-index: 1;
 }
 aside {
    width: 370px;
    height: 300px;
    background: #ebebeb;
    float: left;
    padding-left: 15px;
    margin: 5px 0px 10px 10px;
 }
 footer {
    background: #ebebeb;
    clear: both;
    width: 960px;
    height: 60px;
    padding-top: 35px;
    margin-top: 10px;
 }

 h1:hover {
   background: blue;
   transform: scale(1.02, 1.02);
 }
 nav:hover {
    background-color: purple;
    transform: scale(1.02, 1.02);
       }
 h4:hover {
    background-color: red;
    transform: scale(1.02, 1.02);
    }
 p:hover {
    background-color: yellow;
    transform: scale(1.02, 1.02);
    }
 aside:hover {
    background-color: green;
    transform: scale(1.02, 1.02);
    }
footer:hover {
    background-color: orange;
   transform: scale(1.02, 1.02);
}
section:hover {
   background-color: cornflowerblue;
}
article:hover {
   background-color: indigo;
}